<!DOCTYPE html>
<html>
<head>
    <title>Lista de Usuarios y Pagos</title>
    <!-- Estilos -->
    <style>
        .no-pagado { color: red; font-weight: bold; }
        .pagado { color: green; font-weight: bold; }
        .mayor-edad { color: blue; } 
        .menor-edad { color: rgb(248, 7, 224);} 
        .tabla-usuario, .tabla-pagos { border-collapse: collapse; margin-bottom: 5px; width: 50%; }
        .tabla-usuario th, .tabla-usuario td, .tabla-pagos th, .tabla-pagos td { border: 1px solid black; padding: 5px; text-align: left; }
    </style>
</head>
<body>
    <h1>Usuarios y Pagos (Django)</h1>

    {% for u in usuarios %}
        
        <h2>Usuario: {{ u.nombre }} {{ u.apellidos }}</h2>
        <!-- Tabla de usuarios    -->
        <table class="tabla-usuario">
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>NIF</th>
                <th>Email</th>
                <th>Edad</th>
            </tr>
            <tr>
                <td>{{ u.nombre }}</td>
                <td>{{ u.apellidos }}</td>
                <td>{{ u.nif }}</td>
                <td>{{ u.email }}</td>
                <td class="{% if u.edad >= 18 %}mayor-edad{% else %}menor-edad{% endif %}">
                    {{ u.edad }}
                </td>
            </tr>
        </table>

        <h3>Pagos del año</h3>

        <table class="tabla-pagos">
            <tr>
                <th>Mes</th>
                <th>Importe</th>
            </tr>

            {% for mes, importe in u.pagos.items %}
            <tr>
                <td>{{ mes }}</td>
                <td>
                    {% if importe is not None %}
                        {{ importe }} €
                    {% else %}
                        <span class="no-pagado">NO PAGADO</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}

            <tr>
                <th style="width: 50%;">Total anual</th>
                <th style="width: 50%;">{{ u.total_pagos }} €</th>
            </tr>
        </table>

        <h4>
            {% if u.total_pagos < 100 %}
                <span class="no-pagado">El usuario no está al día con la cuota</span>
            {% else %}
                <span class="pagado">El usuario está al corriente de pagos</span>
            {% endif %}
        </h4>

        <hr />
    {% endfor %}

</body>
</html>